@mixin breakpoint($point) {
    @if $point == sm {
        @media (min-width:616px) { @content; }
    }
    @if $point == md {
        @media (min-width:960px) { @content; }
    }
    @else if $point == lg {
        @media (min-width: 1200px)  { @content; }
    }
}


	body {
		font-family: Helvetica, Arial, Sans-Serif;
		font-size: 16px;
	}

	#anchor {
	}

	ul {
		line-height: 150%
	}

	h1 {
		font-size: 200%
	}

	h2 {
		font-size: 200%
	}

	a {
		line-height: 120%
	}

	#topBar {
		text-align: center;
		align-items: center;
		display: flex;
		background-color: #837E7C;
		height: 100px;

		
	}

	#topBar h1 {
		width: 100%;
		height:40px;
	}

	#mainContainer {
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 100%;
		min-height: 300px;

		@include breakpoint(md){
			display: inline
		}
	}

	#rightLinks {
		display: flex;
		flex-direction: column;
		max-height: 500px;
		max-width: 1200px;

		@include breakpoint(md){
			overflow-y: scroll;
		}
	}

	#descriptionOfProject {
		display: flex;
		flex-direction: column;
		height: 200px;
		text-align: left;
		align-items: center;
		margin: 2% 10% 0 10%;

		@include breakpoint(sm){
			margin: 5% 20% 0 20%
		}

	}

	#bottomBar p {
		padding-top: 20px;
	}

	.rightIMG {
		float: right;
		margin: 10px;
	}

	.centerIMG {
		display: block;
		margin: auto;
	}

.projectLinks {

		cursor: pointer;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		margin: 5px auto 5px auto;
		width: 600px;
		min-height: 200px;
		background-position: center;

/* --------- */

		width: 87%;
		border: .5em solid black;
		background: white;

		@include breakpoint(sm){
			width: 88.5%;
		};

		@include breakpoint(md){
			margin: 10px;
			/*width: 53%;*/
			float: right;

			h2 {
				margin-top: 75px
			}
		}	
}	


#about {
		border: none;
		background-size: cover;
		background-image: url("./images/testMe.jpg");

		p {
			display: none
		}
		
		@include breakpoint(sm){
			background-position: center;
			background-image: url("./images/smlz.jpg")
		}

		@include breakpoint(md){
			margin: 10px;
			height: 490px;
			width: 40%;
			float: left;
			/*clear: bottom;*/
			background-position: center;
			background-image: url("./images/bikenormal.jpg")
		}
	}

	#curious {
		background-color: transparent;
		background-image: url("./images/curiousLarger.png");
		background-size: cover; 
		background-position: left top;

		p {
			display: none
		};
	
	}

	.full-width {
		width: 100vw;
		position: absolute;
		left: 50%;
		right: 50%;
		margin-left: -50vw;
		margin-right: -50vw;
	}


	#bottomBar {
		cursor: pointer;
		font-size: 200%;
		font-weight: bold;
		background-color: #837E7C;
		/*width: 99%;*/
		height: 80px;
		text-align: center;
		justify-content: center	;
		align-items: center;	

	}
