@mixin breakpoint($point) {
    @if $point == sm {
        // @media (min-width:616px) { @content; }
        @media (min-width:480px) { @content; }
    }
    @if $point == md {
        @media (min-width:774px) { @content; }
    }
   
    @else if $point == lg {
        @media (min-width: 960px)  { @content; }
      /*  @media (min-width: 1200px)  { @content; } */
    }
}

	html {
		height: 100%;
	}
	body {
		display: flex;
		flex-direction: column;
		height: 100%;
		font-family: Helvetica, Arial, Sans-Serif;
		font-size: 16px;
	}

	#anchor {
		flex: 1 0 auto;
	}


	ul {
		line-height: 150%
	}

	h1 {
		font-size: 200%
	}

	h2 {
		font-size: 200%
	}

	a {
		line-height: 120%
	}

	#topBar {
		text-align: center;
		align-items: center;
		// display: flex;
		background-color: #837E7C;
		width: 100%;
		height: auto;

		
	}

	#topBar h1 {
		margin: 10px 0px;
		width: 100%;
		height:auto;
	}

	#mainContainer {
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		width: 100%;
		height: 85%;
	}

	#leftAbout {

		width: 97%;

	
		@include breakpoint(lg){
			width: 55%;
			height: 100%;
		}
		
	}

	#linksRow {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		margin-bottom: 10px;
	}
	#rightLinks {
		float: right;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		width: 97%;
	}


	.rightIMG {
		float: right;
		margin: 10px;
	}

	.centerIMG {
		display: block;
		margin: auto;
	}

#intro {
	padding: 30px
	// margin: 10px 0 0 10px
}

#projects {
	display: flex;
	width: 100%;
	height: auto;
	flex-direction: column;

	@include breakpoint(sm){
		flex-direction: row;
		flex-wrap: wrap
	}

	@include breakpoint(lg){
		justify-content: space-evenly;
	}
}

.projectLinks {

		cursor: pointer;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		margin: 5px auto 5px auto;
		min-height: 200px;
		background-position: center;

/* --------- */

		width: 100%;
		border: none;
		background: lightpink;
		border-radius: 10%;		


}	

.odds {
	// background-color: #f44242;
	background-color: #990dbc;
	color: white
}

.evens {
	// background-color: #e87a7a;
	background-color: #a772b5;
	 color: black
}
	.projlink {
		width: 95%;
		margin: 10px 15px;
		text-decoration: none;
		height: 200px;

		@include breakpoint(sm){
			width: 46%;
			margin: 5px
		}

		@include breakpoint(md){
			width: 46%;
			margin: 15px;
		}

		@include breakpoint(lg){
			margin: 15px;
			width: 30%;
		}
	}

	.projlink H2 {
		line-height: 40px
	}

	.frontDesc {
		width: 50%;
		height: auto
	}

	.full-width {
		width: 100vw;
		position: absolute;
		left: 50%;
		right: 50%;
		margin-left: -50vw;
		margin-right: -50vw;
	}

	#descriptionOfProject {
		display: flex;
		flex-direction: column;
		// height: 200px; 
		height: 100%;
		text-align: left;
		align-items: left;
		margin: 2% 10% 0 10%;
		justify-content: space-between;

		// @include breakpoint(sm){
		@include breakpoint(md){
			margin: 5% 20% 0 20%
		}

		// @include breakpoint(lg){
		// 	height: 65%;
		// 	overflow-y: scroll;
		// }

	}

	.projSubheader {
		padding: 10px 0
	}

	#bottomBar {
		padding: 20px 0;
		width: 100%;
		margin-top: 50px;
		background-color: #c1c1c1;
	}	

	#bottomBar a {
		color: white;
		float: right;
		padding: 0 20px;
	}



	#meBlurb {
		width: 300px;
		text-align: left;
		padding-left: 30px;	
	}
