html {
  height: 100%; }

body {
  height: 100%;
  font-family: Helvetica, Arial, Sans-Serif;
  font-size: 16px; }

#anchor {
  display: flex;
  flex-direction: column;
  height: 100%; }

ul {
  line-height: 150%; }

h1 {
  font-size: 200%; }

h2 {
  font-size: 200%; }

a {
  line-height: 120%; }

#topBar {
  text-align: center;
  align-items: center;
  background-color: #837E7C;
  width: 100%;
  height: auto; }

#topBar h1 {
  margin: 10px 0px;
  width: 100%;
  height: auto; }

#mainContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 85%; }

#leftAbout {
  width: 97%;
  /*  @media (min-width: 1200px)  { @content; } */ }
  @media (min-width: 960px) {
    #leftAbout {
      width: 55%;
      height: 100%; } }

#linksRow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 10px; }

#rightLinks {
  float: right;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 97%; }

.rightIMG {
  float: right;
  margin: 10px; }

.centerIMG {
  display: block;
  margin: auto; }

#intro {
  padding: 30px; }

#projects {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  /*  @media (min-width: 1200px)  { @content; } */ }
  @media (min-width: 480px) {
    #projects {
      flex-direction: row;
      flex-wrap: wrap; } }
  @media (min-width: 960px) {
    #projects {
      justify-content: space-evenly; } }

.projectLinks {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 5px auto 5px auto;
  min-height: 200px;
  background-position: center;
  /* --------- */
  width: 100%;
  border: none;
  background: lightpink;
  border-radius: 10%; }

.projlink {
  width: 95%;
  margin: 10px 15px;
  text-decoration: none;
  height: 200px;
  /*  @media (min-width: 1200px)  { @content; } */ }
  @media (min-width: 480px) {
    .projlink {
      width: 46%;
      margin: 5px; } }
  @media (min-width: 774px) {
    .projlink {
      width: 46%;
      margin: 15px; } }
  @media (min-width: 960px) {
    .projlink {
      margin: 15px;
      width: 30%; } }

.projlink H2 {
  line-height: 40px; }

.frontDesc {
  width: 50%;
  height: auto; }

.full-width {
  width: 100vw;
  position: absolute;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw; }

#bottomBar {
  cursor: pointer;
  font-size: 200%;
  font-weight: bold;
  background-color: #837E7C;
  height: 80px;
  text-align: center;
  justify-content: center;
  align-items: center; }

#descriptionOfProject {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: left;
  align-items: center;
  margin: 2% 10% 2% 10%; }
  @media (min-width: 774px) {
    #descriptionOfProject {
      margin: 5% 20% 5% 20%; } }

#bottomBar {
  padding-top: 50px;
  background-color: #c1c1c1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end; }

#meBlurb {
  width: 300px;
  text-align: left;
  padding-left: 30px; }

/*# sourceMappingURL=resumepage.css.map */
