html {
  height: 100%; }

body {
  height: 100%;
  font-family: Helvetica, Arial, Sans-Serif;
  font-size: 16px; }

#anchor {
  display: flex;
  flex-direction: column;
  height: 100%; }

ul {
  line-height: 150%; }

h1 {
  font-size: 200%; }

h2 {
  font-size: 200%; }

a {
  line-height: 120%; }

#topBar {
  text-align: center;
  align-items: center;
  background-color: #837E7C;
  width: 100%;
  height: auto; }

#topBar h1 {
  margin: 10px 0px;
  width: 100%;
  height: auto; }

#triangle {
  width: 0;
  height: 0;
  border-left: 350px solid transparent;
  border-right: 350px solid transparent;
  border-bottom: 350px solid yellow; }

.triangleItem {
  position: absolute; }

#triangleTop {
  top: 200px; }

#mainContainer {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 85%;
  /*  @media (min-width: 1200px)  { @content; } */ }
  @media (min-width: 960px) {
    #mainContainer {
      height: 100%;
      flex-direction: row; } }

#leftAbout {
  width: 97%;
  /*  @media (min-width: 1200px)  { @content; } */ }
  @media (min-width: 960px) {
    #leftAbout {
      width: 55%;
      height: 100%; } }

#linksRow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 10px; }

#rightLinks {
  float: right;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 97%; }

.rightIMG {
  float: right;
  margin: 10px; }

.centerIMG {
  display: block;
  margin: auto; }

#intro {
  margin: 10px 0 0 10px; }

.projectLinks {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 5px auto 5px auto;
  min-height: 200px;
  background-position: center;
  /* --------- */
  width: 100%;
  border: none;
  background: lightpink;
  border-radius: 10%; }

#imgContainer {
  /*  @media (min-width: 1200px)  { @content; } */ }
  @media (min-width: 774px) {
    #imgContainer {
      height: 216px;
      width: auto; } }
  @media (min-width: 774px) {
    #imgContainer {
      overflow: hidden;
      height: 100px;
      width: 100px; } }
  @media (min-width: 960px) {
    #imgContainer {
      position: relative;
      width: 100%;
      height: 300px; } }

#aboutText {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  justify-content: space-around;
  margin: auto; }

#myImg {
  width: 60%;
  height: auto;
  border-radius: 50%;
  /*  @media (min-width: 1200px)  { @content; } */ }
  @media (min-width: 480px) {
    #myImg {
      width: auto;
      max-height: 100%;
      margin: 0 30px 30px 30px; } }
  @media (min-width: 774px) {
    #myImg {
      margin-top: 200px;
      max-width: 100%;
      height: auto;
      margin: auto; } }
  @media (min-width: 960px) {
    #myImg {
      margin-top: 0;
      height: 100%;
      width: 70%; } }

#about {
  align-items: flex-start;
  border: none;
  /*  @media (min-width: 1200px)  { @content; } */ }
  #about p {
    display: none; }
  @media (min-width: 480px) {
    #about {
      background-position: center;
      flex-direction: row; } }
  @media (min-width: 960px) {
    #about {
      flex-direction: column;
      min-height: 400px; } }

.projlink {
  width: 95%;
  margin: 0px 15px;
  text-decoration: none;
  /*  @media (min-width: 1200px)  { @content; } */ }
  @media (min-width: 480px) {
    .projlink {
      width: 46%;
      margin: 5px; } }
  @media (min-width: 774px) {
    .projlink {
      width: 46%;
      margin: 0px 15px; } }
  @media (min-width: 960px) {
    .projlink {
      margin: 0px 15px;
      width: 30%;
      height: auto; } }

.projlink H2 {
  line-height: 40px; }

.frontDesc {
  width: 50%;
  height: auto; }

.full-width {
  width: 100vw;
  position: absolute;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw; }

#bottomBar {
  cursor: pointer;
  font-size: 200%;
  font-weight: bold;
  background-color: #837E7C;
  height: 80px;
  text-align: center;
  justify-content: center;
  align-items: center; }

#descriptionOfProject {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: left;
  align-items: center;
  margin: 2% 10% 2% 10%; }
  @media (min-width: 774px) {
    #descriptionOfProject {
      margin: 5% 20% 5% 20%; } }

#bottomBar p {
  padding-top: 20px; }

/*# sourceMappingURL=resumepage.css.map */
